force-app/main/default/flows/Insert_Standard_Clause.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Insert Standard Clause {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insert Standard Clause</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Standard_Clause_1</name>
        <label>Create Standard Clause 1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Standard_Clause_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Clause__c</field>
            <value>
                <stringValue>Standard Terms &amp; Conditions-01 - Price is based on material cost at the time of quotation. Validity of price and conditions of this quote to be confirmed at the time of receipt of customer purchase order.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Express__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Standard_Clause__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Clause_2</name>
        <label>Create Standard Clause 2</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Clause__c</field>
            <value>
                <stringValue>Standard Terms &amp; Conditions-02 - Deliveries are based on production schedules at the time of quotation and may be different at time of order.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Express__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Standard_Clause__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Standard_Clause_1</targetReference>
        </connector>
        <object>Quote_Express__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
